body, html {
    height: 100%;
    margin: 0;
}
.container{
    width: 85% !important;
}

.bg {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.7) ), url("../images/land.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
	padding-top: 20%;
	color: white;
}
#map {
    height: 450px;
    width: 100%;
}
#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}
#legend h3 {
    margin-top: 0;
}
#legend img {
    vertical-align: middle;
}
.card-title{
	font-size: 20px !important;
	line-height: 20px !important;
}
.card{
	height: 380px;
}
.pet-cover{
    width:100%; 
    height: 275px; 
    padding-left: 0px; 
    padding-right: 0px
}
.pet-avi{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
    border: 3px solid #616161;
    border-radius: 50%
}
.pet-info .woof{
    padding-left: 20%;
}
.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active{
    color: black;
}
.tabs .indicator{
    background-color: #ED2232;
}
.pet{
    padding-top: 25px;
}
.pet-pic{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}
.pet-ind{
    height: 300px;
}
.pet-pic-item {
    width: 45px;
    height: 45px;
    background-image: url('../images/like.png');
    position: relative;
    top: -50px;
    left: 210px;
}
.label {
    position: relative;
    top: 12px;
    left: 11px;
    color: black;
}
.facts {
    padding-right: 5%;
}
.p-caption{
    position: relative;
    top: -15%;
}
#adopt{
    background-image: url('../images/map-paw.png');
    background-size: 45px 35px;
}