<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'link.html' %}
  <title>BWP Hack</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div class="bg">
      <div class="center home">
        <h2>It's time to bring people and pets together! Life is better with pets!</h2>
        <a class="btn waves-effect waves-light blue darken-3" href="/main">Browse</a>
        <a class="btn waves-effect waves-light blue darken-3" href="/login">Admin</a>
      </div>
    </div>
</body>
</html>
