<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'link.html' %}
  <title>BWP Hack Home</title>
  {% include 'nav.html' %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="map"></div>
    <div id="legend">
        <h5>Legend</h5></div>
    <div class="container" style="padding-top: 20px;">
        <ul class="tabs center">
            <li class="tab col s3"><a class="active" href="#dog-parks">Doggie Parks</a></li>
            <li class="tab col s3"><a href="#animal-shelters">Animal Shelters</a></li>
        </ul>
        <div class="row col s12" overflow-x: auto;>
            <div id="dog-parks" class="col s12">
                {% for park in parks %}
                <div class="col s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{park.picture}}" width="100%" height="auto">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{park.name}}<i class="material-icons right">more_vert</i></span>
                            <address>{{park.address}}</address>
                            <br/> {% for r in range(park.rating|int) %}
                            <i class="material-icons #c62828 red-text text-darken-2">favorite</i> {% endfor %}
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{park.name}}<i class="material-icons right">close</i></span>
                            <p>Phone: {{park.phone}}</p>
                            <p>Description: {{park.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="animal-shelters" class="col s12">
                {% for shelter in shelters %}
                <div class="col s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{shelter.picture}}" width="100%" height="auto">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{shelter.name}}<i class="material-icons right">more_vert</i></span>
                            <address>{{shelter.address}}</address>
                            <br/> {% for r in range(shelter.rating|int) %}
                            <i class="material-icons #c62828 red-text text-darken-2">favorite</i> {% endfor %}
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{shelter.name}}<i class="material-icons right">close</i></span>
                            <p>Phone: {{shelter.phone}}</p>
                            <p>Description: {{shelter.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<script>
    var lat;
    var long;
    var markers = [];
    var infoWindows = [];

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {
                lat: 38.627,
                lng: -90.1994
            }
        });
        {% for item in allLocations %}
          var i{{item.id}} = $.ajax({
              url: 'https://maps.googleapis.com/maps/api/geocode/json?address={{item.address}}&key=AIzaSyAkOfmfi84Tve-8Q6VW7OmIDfRT-kiVq_0',
              type: 'get',
              success: function () {
                  lat = i{{item.id}}.responseJSON.results[0]["geometry"]["location"]["lat"];
                  long = i{{item.id}}.responseJSON.results[0]["geometry"]["location"]["lng"];
                  
                  if( "{{item.type_of_park}}" === "Dog"){
                    var marker = new google.maps.Marker({
                        position: {
                            lat: parseFloat(lat),
                            lng: parseFloat(long)
                        },
                        icon: '../static/images/map-paw.png',
                        map: map
                    });
                  } 
                  else if ("{{item.type_of_park}}" === "Shelter"){
                    var marker = new google.maps.Marker({
                        position: {
                            lat: parseFloat(lat),
                            lng: parseFloat(long)
                        },
                        icon: '../static/images/shelter.png',
                        map: map
                    });
                  } 
                  markers.push(marker); //push back into markers array

                  var contentString = '<h5>{{item.name}}</h5> <address>{{item.address}}</address> <p>Phone: {{item.phone}}</p><p>Description: {{item.description}}</p>';

                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });
                    infoWindows.push(infowindow); //push back into infoWindows array

                    marker.addListener('click', function () {
                      infoWindows[{{loop.index0}}].open(map, markers[{{loop.index0}}]);
                    });
                    map.addListener('click', function () {
                      infoWindows[{{loop.index0}}].close(map, markers[{{loop.index0}}]);
                    });
              }
          });
        {% endfor %}

        var legend = document.getElementById('legend');
        var icons = [
          {
            "icon": "../static/images/map-paw.png",
            "name": "Doggie Park"
          },
          {
            "icon": "../static/images/shelter.png",
            "name": "Animal Shelter"
          }
        ]
        for (var key in icons) {
          var type = icons[key];
          var name = type.name;
          var icon = type.icon;
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkOfmfi84Tve-8Q6VW7OmIDfRT-kiVq_0&callback=initMap">
</script>

</html>
