<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'link.html' %}
  <title>BWP Hack Home</title>
  {% include 'nav.html' %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
      #map {
        height: 450px;
        width: 100%;
       }
    </style>
</head>
<body>
    <div id="map"></div>
    <div class="container">
      
      <div id="pet-parks" class="row col s12" overflow-x: auto;">
        
        <h5 class="center">Parks in the area</h5>
        {% for park in parks %}
          <div class="col s3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{park.picture}}" width="100%" height="auto">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                  {{park.name}}<i class="material-icons right">more_vert</i>
                </span>
                <address>{{park.address}}</address>
                <br/>
                {% for r in range(park.rating|int) %}
                  <i class="material-icons #c62828 red-text text-darken-2">favorite</i>
                {% endfor %}
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                  {{park.name}}<i class="material-icons right">close</i>
                </span>
                <p>Phone: {{park.phone}}</p>
                <p>Description: {{park.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
</body>
<script>
    var lat;
    var long;
    var markers = [];
    var infoWindows = [];

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {
                lat: 38.627,
                lng: -90.1994
            }
        });
        {% for park in parks %}
          var i{{park.id}} = $.ajax({
              url: 'https://maps.googleapis.com/maps/api/geocode/json?address={{park.address}}&key=AIzaSyAkOfmfi84Tve-8Q6VW7OmIDfRT-kiVq_0',
              type: 'get',
              success: function () {
                  lat = i{{park.id}}.responseJSON.results[0]["geometry"]["location"]["lat"];
                  long = i{{park.id}}.responseJSON.results[0]["geometry"]["location"]["lng"];
                  var marker = new google.maps.Marker({
                      position: {
                          lat: parseFloat(lat),
                          lng: parseFloat(long)
                      },
                      icon: '../static/images/map-paw.png',
                      map: map
                  });
                  markers.push(marker); //push back into markers array

                  var contentString = '<h5>{{park.name}}</h5> <address>{{park.address}}</address> <p>Phone: {{park.phone}}</p><p>Description: {{park.description}}</p>';

                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });
                    infoWindows.push(infowindow); //push back into infoWindows array

                    marker.addListener('click', function () {
                      infoWindows[{{loop.index0}}].open(map, markers[{{loop.index0}}]);
                    });
                    map.addListener('click', function () {
                      infoWindows[{{loop.index0}}].close(map, markers[{{loop.index0}}]);
                    });
              }
          });
        {% endfor %}
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkOfmfi84Tve-8Q6VW7OmIDfRT-kiVq_0&callback=initMap">
</script>

</html>
