<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'link.html' %}
  <title>{{pet.name}}</title>
  {% include 'nav.html' %}

<style type="text/css">
	.pet-cover{
		width:100%; 
		height: 275px; 
		padding-left: 0px; 
		padding-right: 0px
	}
	.pet-avi{
		width: 200px;
		height: 200px;
		position: absolute;
		top: 200px;
		border: 3px solid #616161;
		border-radius: 50%
	}
	.pet-info .woof{
		padding-left: 20%;
	}
	.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active{
		color: black;
	}
	.tabs .indicator{
		background-color: #ED2232;
	}
	.pet{
		padding-top: 25px;
	}

</style>
</head>
<body>
<!-- 	<img src="https://static1.squarespace.com/static/52f5256ce4b039b51c0e643f/t/5821119ce3df285de6f31f4e/1478562205671/Pet-health-care-banner-1.jpg?format=1500w" class="pet-cover"> -->	
		<img src="https://thumbs.dreamstime.com/t/french-bulldog-puppy-words-i-love-french-red-heart-white-background-72631476.jpg" class="pet-cover">

    <div class="container">
      <img src="../static/images/{{pet.picture}}" class="pet-avi">
      <div class="pet-info">
	      <h4 class="woof">Hi! I'm {{pet.name}}</h4>
	      <div class="profile col s12">
			<ul class="tabs">
				<li class="tab col s6"><a class="active" href="#fun">Fun</a></li>
				<li class="tab col s6"><a href="#about">About Me</a></li>
			</ul>
			<div id="fun" class="col s12 pet">
				{% for pic in pics %}
					<img src="{{pic.picture}}">
					<p>{{pic.caption}}</p>
				{% endfor %}
			</div>
			<div id="about" class="col s12 pet">
				<h5>About Me:</h5>
				{{pet.description}}

				<h5>Fun Facts:</h5>
				<p><strong>Nickname:</strong> {{pet.name}}</p>
				<p><strong>Location:</strong> {{pet.location}}</p>
				<p><strong>Size:</strong> {{pet.size}}</p>
				<p><strong>Breed:</strong> {{pet.breed}}</p>
				<p><strong>Color:</strong> {{pet.color}}</p>
			</div>
	      </div>
	  </div>
    </div>
</body>
</html>
