<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'link.html' %}
  <title>{{pet.name}}</title>
  {% include 'nav.html' %}

<style type="text/css">

</style>
</head>
<body>
<!-- 	<img src="https://static1.squarespace.com/static/52f5256ce4b039b51c0e643f/t/5821119ce3df285de6f31f4e/1478562205671/Pet-health-care-banner-1.jpg?format=1500w" class="pet-cover"> -->	
<!-- 		<img src="https://thumbs.dreamstime.com/t/french-bulldog-puppy-words-i-love-french-red-heart-white-background-72631476.jpg" class="pet-cover">
 -->
 	<img src="{{pet.banner}}" class="pet-cover">
    <div class="container">
      <img src="../static/images/{{pet.picture}}" class="pet-avi">
      <div class="pet-info">
	      <div class="woof">
		      <h4>Hi! I'm {{pet.name}}</h4>
		      <a class="waves-effect waves-light btn blue darken-3 modal-trigger" href="#modal1" id="adopt">Adopt Me</a>
			  <div id="modal1" class="modal">
				  <div class="modal-content">
					<h5>Are you fit to bring {{pet.name}} home?</h5>
					<p>Adoption Fee: $195</p>
					<p>Please fill out the following information and someone from {{pet.location}} will contact you regarding next steps. Feel free to contact us at (314) 555-5555 with any questions!</p>
					<form method="post" action="/new_proposal">
		                    <p><strong>Your information:</strong></p>
		                    <div class="row">
		                        <div class="input-field col s6">
		                            <input id="first_name" name="first_name" type="text" class="validate" required>
		                            <label for="first_name">First Name</label>
		                        </div>
		                        <div class="input-field col s6">
		                            <input id="last_name" name="last_name" type="text" class="validate" required>
		                            <label for="last_name">Last Name</label>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="input-field col s6">
		                            <input id="email" name="email" type="email" class="validate" required>
		                            <label for="email">Email Address</label>
		                        </div>
		                        <div class="input-field col s6">
		                            <input id="phone" name="phone" type="text" class="validate" required>
		                            <label for="phone">Phone Number</label>
		                        </div>
		                    </div>
		                    <div class="row">
								<div class="input-field col s4">
									<select name="previous_owner" id='previous_owner'>
										<option value="no">No</option>
										<option value="yes">Yes</option>
									</select>
									<label>Have you every owned a pet?</label>
								</div>
								<div class="input-field col s4">
									<select name="first_time_adopt" id='first_time_adopt'>
										<option value="no">No</option>
										<option value="yes">Yes</option>
									</select>
									<label>Have you adopted a pet in the past?</label>
								</div>
								<div class="input-field col s4">
									<select name="pet_safe" id='pet_safe'>
										<option value="no">No</option>
										<option value="yes">Yes</option>
									</select>
									<label>Do you have a pet safe home?</label>
								</div>
								<div class="input-field col s4">
									<select name="other_pets" id='other_pets'>
										<option value="no">No</option>
										<option value="yes">Yes</option>
									</select>
									<label>Do you have any other pets?</label>
								</div>
								<div class="input-field col s8 other_pets_list hide">
		                            <input id="other_pets_list" name="other_pets_list" type="text" class="validate">
		                            <label for="other_pets_list">Please list other pets:</label>
		                        </div>
		                    </div>
		                    <div class="row">
		                    	<div class="col s12">
		                    		<p>Why do you want to adopt {{pet.name}}?</p>
		                    		<textarea id="why_adopt" name="why_adopt" class="materialize-textarea" required></textarea>
		                    	</div>
		                    </div>
		                    <div class="row">
		                    	<div class="col s12">
		                    		<p>Notes:</p>
		                    		<textarea id="notes" name="notes" class="materialize-textarea"></textarea>
		                    	</div>
		                    </div>
		                    <div class="input-field col s12 hide">
	                            <input id="pet_name" name="pet_name" type="text" class="validate" value="{{pet.name}}" >
	                            <input id="pet_color" name="pet_color" type="text" class="validate" value="{{pet.color}}" >
	                            <input id="pet_age" name="pet_age" type="text" class="validate" value="{{pet.age}}" >
	                            <input id="pet_picture" name="pet_picture" type="text" class="validate" value="{{pet.picture}}" >
	                        </div>

		                <div class="card-action right-align">
		                    <input type="submit" class="btn waves-effect waves-light blue darken-3" value="Submit">
		                </div>
		            </form>

				  </div>
			  </div>
		  </div>
	      <div class="profile col s12">
			<ul class="tabs">
				<li class="tab col s6"><a class="active" href="#fun">Fun</a></li>
				<li class="tab col s6"><a href="#about">About Me</a></li>
			</ul>
			<div id="fun" class="col s12 pet row">
				{% for pic in pics %}
					<div class="col s12 m6 l3 pet-ind">
						<img class="materialboxed pet-pic" data-caption="{{pic.caption}}" src="{{pic.picture}}" />
						<div class="pet-pic-item" id="pet-pic-item-{{pic.id}}">
							<a href="#" onclick="updateLikes({{pic.id}}); return false;">
								<img src="../static/images/like.png" width="30" height="auto">
							</a>
							<span class="sm-text"> 
								<span>Liked by</span>
								<span id="pet-pic-likes-{{pic.id}}">{{pic.likes}}</span>
								<span>people</span>
							</span>
						</div>
						<p>{{pic.name}}: {{pic.caption}}</p>
					</div>
				{% endfor %}
			</div>
			<div id="about" class="col s12 pet">
				<span class="facts"><strong>Nickname:</strong> {{pet.name}}</span>
				<span class="facts"><strong>Location:</strong> {{pet.location}}</span>
				<span class="facts"><strong>Size:</strong> {{pet.size}}</span>
				<span class="facts"><strong>Breed:</strong> {{pet.breed}}</span>
				<span class="facts"><strong>Color:</strong> {{pet.color}}</span>
				<p>{{pet.description}}</p>
			</div>
	      </div>
	  </div>
    </div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
		$('.modal').modal();
		$('select').material_select();

		$("#other_pets").on("change", function() {
	    var e = document.getElementById("other_pets");
	    var value = e.options[e.selectedIndex].value;
	    if(value === "yes") {
	      $(".other_pets_list").removeClass("hide");
	    }
	    else{
	      $(".other_pets_list").addClass("hide");
	    }
	  });
	});
      
	function updateLikes(id){
		var curr_likes = parseInt($("#pet-pic-likes-"+id).text()) + 1;
		$("#pet-pic-likes-"+id).text(curr_likes);

		$.ajax({
            url: '/updatePicLikes/' + String(id) + "/"+ String(curr_likes),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            },   
        });
	}

</script>
</html>
